

<div class="row">
	<center>
  	
	<div class="col-xs-12">	
  		<% if user_signed_in? %>
  			#do something
  		<% else %>

 
	  		<h2>Your own personal medical assistant. </h2>
	  		<p> <%= link_to "Sign up today", new_user_registration_path, class: "btn btn-primary btn-lg " %> <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg " %> </p>
	  	<% end %>

  	</div>

  	<div class="col-xs-12"><%=image_tag("iPhoneSS.png", :size => "260x430")%> </div>

  	</center>
  </div>
