
<div class="jumbotron">
  <h1>About Us</h1>

  <p> We created Sana to help people better monitor their medical conditions outside of the hospital. 
  <p> If you want to learn more please <%= link_to "contact us", "#" %> . </p>


</div>