

<div class="container-fluid">
	<center>
  		<div class="col-md-4"><%=image_tag("iPhoneSS.png", :size => "260x430")%> </div>

 		<div class="col-md-4"> 
  		<h2>Your own personal medical assistant. </h2>
  		<p> <%= link_to "Sign up today", "#", class: "btn btn-primary btn-lg" %> </p> </div>

  	</center>
  </div>
